In [88]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

### Traitement de donnée

In [89]:
dataset=pd.read_csv('voitures.csv')
dataset

    annee      km      marque carburant transmission    prix
0    2018   75000      Toyota    Diesel     Manuelle  145000
1    2020   30000      Toyota   Essence  Automatique  175000
2    2017   90000     Renault    Diesel     Manuelle  120000
3    2019   50000     Renault   Essence  Automatique  155000
4    2016  110000     Peugeot    Diesel     Manuelle  105000
5    2021   25000     Peugeot   Essence  Automatique  180000
6    2018   80000       Dacia    Diesel     Manuelle   95000
7    2020   40000       Dacia   Essence     Manuelle  115000
8    2019   60000         BMW    Diesel  Automatique  260000
9    2021   20000         BMW   Essence  Automatique  320000
10   2018   85000    Mercedes    Diesel  Automatique  280000
11   2020   35000    Mercedes   Essence  Automatique  340000
12   2017  100000        Audi    Diesel     Manuelle  210000
13   2019   55000        Audi   Essence  Automatique  290000
14   2016  120000        Ford    Diesel     Manuelle   98000
15   2018   70000        Ford   Essence     Manuelle  115000
16   2017   95000     Hyundai    Diesel     Manuelle  108000
17   2020   45000     Hyundai   Essence  Automatique  160000
18   2018   80000         Kia    Diesel     Manuelle  102000
19   2021   30000         Kia   Essence  Automatique  170000
20   2015  130000  Volkswagen    Diesel     Manuelle  115000
21   2019   60000  Volkswagen   Essence  Automatique  185000
22   2016  125000      Nissan    Diesel     Manuelle  110000
23   2020   42000      Nissan   Essence  Automatique  165000
24   2018   90000        Opel    Diesel     Manuelle  100000
25   2019   58000        Opel   Essence     Manuelle  130000
26   2017  105000        Seat    Diesel     Manuelle  108000
27   2020   36000        Seat   Essence  Automatique  155000
28   2016  140000       Skoda    Diesel     Manuelle   95000
29   2019   62000       Skoda   Essence  Automatique  145000

##### en codage des données

In [90]:

dataset["carburant"].replace("Diesel",0,inplace=True)
dataset["carburant"].replace("Essence",1,inplace=True)
dataset["transmission"].replace("Manuelle",0,inplace=True)
dataset["transmission"].replace("Automatique",1,inplace=True)
dataset

C:\Users\PC\AppData\Local\Temp\ipykernel_14588\3265108115.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset["carburant"].replace("Diesel",0,inplace=True)
C:\Users\PC\AppData\Local\Temp\ipykernel_14588\3265108115.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset["carburant"].replace("Essence",1,inplace=True)
C:\Users\PC\AppData\Local\Temp\ipykernel_14588\3265108115.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  dataset["carburant"].replace("Essence",1,inplace=True)
C:\Users\PC\AppData\Local\Temp\ipykernel_14588\3265108115.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset["transmission"].replace("Manuelle",0,inplace=True)
C:\Users\PC\AppData\Local\Temp\ipykernel_14588\3265108115.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset["transmission"].replace("Automatique",1,inplace=True)
C:\Users\PC\AppData\Local\Temp\ipykernel_14588\3265108115.py:4: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  dataset["transmission"].replace("Automatique",1,inplace=True)

    annee      km      marque  carburant  transmission    prix
0    2018   75000      Toyota          0             0  145000
1    2020   30000      Toyota          1             1  175000
2    2017   90000     Renault          0             0  120000
3    2019   50000     Renault          1             1  155000
4    2016  110000     Peugeot          0             0  105000
5    2021   25000     Peugeot          1             1  180000
6    2018   80000       Dacia          0             0   95000
7    2020   40000       Dacia          1             0  115000
8    2019   60000         BMW          0             1  260000
9    2021   20000         BMW          1             1  320000
10   2018   85000    Mercedes          0             1  280000
11   2020   35000    Mercedes          1             1  340000
12   2017  100000        Audi          0             0  210000
13   2019   55000        Audi          1             1  290000
14   2016  120000        Ford          0             0   98000
15   2018   70000        Ford          1             0  115000
16   2017   95000     Hyundai          0             0  108000
17   2020   45000     Hyundai          1             1  160000
18   2018   80000         Kia          0             0  102000
19   2021   30000         Kia          1             1  170000
20   2015  130000  Volkswagen          0             0  115000
21   2019   60000  Volkswagen          1             1  185000
22   2016  125000      Nissan          0             0  110000
23   2020   42000      Nissan          1             1  165000
24   2018   90000        Opel          0             0  100000
25   2019   58000        Opel          1             0  130000
26   2017  105000        Seat          0             0  108000
27   2020   36000        Seat          1             1  155000
28   2016  140000       Skoda          0             0   95000
29   2019   62000       Skoda          1             1  145000

In [91]:
# fonction encode marque
def encode_marque(marque):
    return len(marque)

In [92]:
dataset["marque"]=dataset["marque"].apply(encode_marque)

In [93]:
dataset

    annee      km  marque  carburant  transmission    prix
0    2018   75000       6          0             0  145000
1    2020   30000       6          1             1  175000
2    2017   90000       7          0             0  120000
3    2019   50000       7          1             1  155000
4    2016  110000       7          0             0  105000
5    2021   25000       7          1             1  180000
6    2018   80000       5          0             0   95000
7    2020   40000       5          1             0  115000
8    2019   60000       3          0             1  260000
9    2021   20000       3          1             1  320000
10   2018   85000       8          0             1  280000
11   2020   35000       8          1             1  340000
12   2017  100000       4          0             0  210000
13   2019   55000       4          1             1  290000
14   2016  120000       4          0             0   98000
15   2018   70000       4          1             0  115000
16   2017   95000       7          0             0  108000
17   2020   45000       7          1             1  160000
18   2018   80000       3          0             0  102000
19   2021   30000       3          1             1  170000
20   2015  130000      10          0             0  115000
21   2019   60000      10          1             1  185000
22   2016  125000       6          0             0  110000
23   2020   42000       6          1             1  165000
24   2018   90000       4          0             0  100000
25   2019   58000       4          1             0  130000
26   2017  105000       4          0             0  108000
27   2020   36000       4          1             1  155000
28   2016  140000       5          0             0   95000
29   2019   62000       5          1             1  145000

### Normalisation

In [94]:
features = dataset[["km","annee","carburant","transmission","marque"]]
target = dataset[["prix"]]
x_train, x_test, y_train, y_test = train_test_split(features, target, test_size=0.2, random_state=42)

In [95]:
def z_score_normalization(data):
    # Calcul des moyennes et des déviations standard de chaque caractéristique
    mean = np.mean(data, axis=0)
    std = np.std(data, axis=0)

    # Normalisation des données en utilisant la méthode Z-score
    data_normalized = (data - mean) / std

    return data_normalized

In [ ]:
x_train=z_score_normalization(x_train)
#x_test=z_score_normalization(x_test)
y_train=z_score_normalization(y_train)
#y_test=z_score_normalization(y_test)

In [96]:
x_train

        km  annee  carburant  transmission  marque
28  140000   2016          0             0       5
24   90000   2018          0             0       4
12  100000   2017          0             0       4
0    75000   2018          0             0       6
4   110000   2016          0             0       7
16   95000   2017          0             0       7
5    25000   2021          1             1       7
13   55000   2019          1             1       4
11   35000   2020          1             1       8
22  125000   2016          0             0       6
1    30000   2020          1             1       6
2    90000   2017          0             0       7
25   58000   2019          1             0       4
3    50000   2019          1             1       7
21   60000   2019          1             1      10
26  105000   2017          0             0       4
18   80000   2018          0             0       3
29   62000   2019          1             1       5
20  130000   2015          0             0      10
7    40000   2020          1             0       5
10   85000   2018          0             1       8
14  120000   2016          0             0       4
19   30000   2021          1             1       3
6    80000   2018          0             0       5

In [97]:
y_train

      prix
28   95000
24  100000
12  210000
0   145000
4   105000
16  108000
5   180000
13  290000
11  340000
22  110000
1   175000
2   120000
25  130000
3   155000
21  185000
26  108000
18  102000
29  145000
20  115000
7   115000
10  280000
14   98000
19  170000
6    95000